# 회귀분석 과제
2022-01-20
- 출처 18기 DS 신혜연님

---

제출 형식: 본인 Github에 다음과 같은 파일명으로 두 개의 파일을 업로드하시면 됩니다.  
- 20기_학과명_이름.ipynb  
- graduate_submission.csv

# 목표: 대학원 합격 확률 및 합격 여부 예측

- 회귀: 학습 데이터로 선형 회귀, Ridge, Lasso를 통해 학습시켜 봅시다.

완성된 모델로 테스트 데이터의 **합격 여부**를 예측해보세요. (합격 여부를 예측하는 것은 분류 문제입니다.)  
아래의 빈칸(코드+서술 답안)을 모두 채워 넣어주시면 됩니다.  
"## TODO"라고 적힌 부분에는 코드를 작성하여 주시고, "A."라고 적힌 부분에는 서술 답안을 작성하여 주세요.  
이를 모두 완성한 **(1) ipynb 파일**과 최종 예측을  **(2) csv 파일**로 저장하여 본인 Github에 업로드하시면 됩니다.

In [1]:
# 패키지 불러오기
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 경고 무시
import warnings
warnings.filterwarnings(action='ignore')

# 데이터 로드 및 확인
graduate_train.csv 파일과 graduate_test.csv 파일을 My Drive에 넣어주세요.  
(Jupyter Notebook을 사용하시는 경우에는 graduate_train.csv 파일과 graduate_test.csv 파일 경로를 각각의 로컬 디렉토리 위치로 변경해주세요.)

In [10]:
# train 데이터 불러오기
train = pd.read_csv('./graduate_train.csv')

# train 데이터 크기 확인
print(train.shape)
# train 데이터 훑어보기
train.info()
train.describe()

(400, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    object
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 25.1+ KB

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,400.00000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000
mean,316.31000,107.097500,3.08250,3.348750,3.465000,8.560650,0.717675
std,11.29548,6.022763,1.15283,0.977952,0.909446,0.601597,0.140687
min,290.00000,92.000000,1.00000,1.000000,1.500000,6.800000,0.340000
25%,308.00000,103.000000,2.00000,2.500000,3.000000,8.120000,0.630000
50%,317.00000,107.000000,3.00000,3.500000,3.500000,8.545000,0.720000
75%,324.00000,112.000000,4.00000,4.000000,4.000000,9.025000,0.820000
max,340.00000,120.000000,5.00000,5.000000,5.000000,9.920000,0.970000

In [11]:
# test 데이터 불러오기
test = pd.read_csv('./graduate_test.csv')

# test 데이터 크기 확인
print(test.shape)
# test 데이터 훑어보기
test.info()
test.describe()
# test 데이터에는 'Chance of Admit'이 없습니다. 이 확률을 예측해보는 것이 과제입니다.

(100, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          100 non-null    int64
 1   TOEFL Score        100 non-null    int64
 2   University Rating  100 non-null    int64
 3   SOP                100 non-null    float64
 4   LOR                100 non-null    float64
 5   CGPA               100 non-null    float64
 6   Research           100 non-null    object
dtypes: float64(3), int64(3), object(1)
memory usage: 5.6+ KB

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,317.120000,107.570000,3.240000,3.47500,3.560000,8.639600
std,11.327342,6.329752,1.102064,1.04053,0.988009,0.616518
min,296.000000,94.000000,1.000000,1.00000,1.000000,7.300000
25%,309.000000,103.000000,2.000000,2.50000,3.000000,8.130000
50%,317.000000,107.000000,3.000000,3.50000,3.750000,8.655000
75%,326.250000,112.000000,4.000000,4.50000,4.500000,9.132500
max,340.000000,120.000000,5.000000,5.00000,5.000000,9.860000

# 1. 결측치

데이터에 결측치가 있는지 확인해보세요.

In [14]:
## TODO
print(train.isnull().sum())
print()
print(test.isnull().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

Q. 데이터에 결측치가 있나요? 어떤 방법으로 처리하였나요?  
A. 데이터에 결측치가 없습니다

# 2. 범주형 변수

설명변수 중 범주형 변수가 존재하나요?  
존재한다면 어떻게 처리해주어야 할까요?  
**학습 데이터를 수정하는 경우 테스트 데이터도 그에 맞게 수정해주어야 된다는 점에 유의하세요.**

In [15]:
## TODO
train

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,310,105,2,3.0,3.5,8.01,No,0.71
1,307,105,2,2.5,4.5,8.12,Yes,0.67
2,329,111,4,4.5,4.0,9.01,Yes,0.81
3,300,105,1,1.0,2.0,7.80,No,0.58
4,329,114,5,4.0,5.0,9.30,Yes,0.86
...,...,...,...,...,...,...,...,...
395,316,110,3,3.5,4.0,8.56,No,0.75
396,302,110,3,4.0,4.5,8.50,No,0.65
397,312,107,4,4.5,4.0,8.65,Yes,0.73
398,298,99,1,1.5,3.0,7.46,No,0.53
399,324,113,4,4.5,4.0,8.79,No,0.76

Q. 어떤 변수가 범주형인가요? 어떻게 처리해 주었나요?  
A.

# 3. 선형(Linear) 회귀

In [ ]:
# 먼저 데이터를 설명변수와 종속변수로 분리합니다.
X = df.drop('Chance of Admit', axis=1)
y = df['Chance of Admit']

In [ ]:
# 데이터를 train과 test로 분리하여 사용합니다.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [ ]:
# 각각의 크기 확인
print("training predictors size:", X_train.shape)
print("training response size:", y_train.shape)
print("test predictors size:", X_test.shape)
print("test response size:", y_test.shape)

### 3.1. scikit-learn으로 선형 회귀

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# 1. 먼저 모델을 만들어 줍니다.
## TODO

# 2. 모델을 적합시킵니다.
## TODO

# 3. train 세트와 test 세트에서의 성능을 확인합니다. (이 경우 결정계수 R^2)
## TODO

#### 3.1.1. 모델의 MSE와 R^2를 구해봅시다.

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# 4. X_test로 y_pred를 만들어줍니다.
## TODO

print('MSE: %.4f' % mean_squared_error(y_test, y_pred))
print('Variance score: %.4f' % r2_score(y_test, y_pred))

#### 3.1.2. 모델의 절편 계수를 확인해봅시다.

In [ ]:
## TODO

Q. 절편 계수의 의미는 무엇인가요?  
A.

#### 3.1.3. 모델의 기울기 계수를 확인해 보세요.

In [ ]:
## TODO

Q. 기울기 계수의 의미는 무엇인가요? 어떤 예측변인이 대학원 합격 확률과 유의미한 관계를 가지고 있으며 이것을 어떻게 해석할 수 있나요?  
A.

#### 3.1.4. 연속형 설명변수 중 하나를 골라 종속변수와의 관계를 scatter plot으로 그려 보세요.

In [ ]:
## TODO

#### 3.1.5. 범주형 설명변수와 종속변수의 관계를 box plot으로 그려 보세요.

In [ ]:
## TODO

### 3.2. StatsModels로 선형 회귀 시행하기

In [ ]:
import statsmodels.api as sm

In [ ]:
## TODO

Q. R^2와 F-statistic을 고려해 볼 때, 이 모델은 좋은 모델이라고 볼 수 있나요?  
A.

Q. 계수에 대한 가설 검정 결과를 바탕으로 'University Rating'이 대학원 합격률에 미치는 영향을 어떻게 해석할 수 있을까요?  
A.

# 4. Ridge, Lasso 회귀

이번에는 scikit-learn으로 Ridge와 Lasso를 시도해 보세요.  
**가장 적절한 수준의 alpha를 찾아 모델에 적용해 보세요.**  
(힌트: cross-validation을 사용하세요.)  
(참고자료:
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html  
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html)

In [ ]:
from sklearn.linear_model import RidgeCV

# 1. 먼저 모델을 만들어 줍니다.
## TODO

# 2. 모델을 적합시킵니다.
## TODO

# 3. train 세트와 test 세트에서의 성능을 확인합니다. (이 경우 결정계수 R^2)
## TODO

In [ ]:
from sklearn.linear_model import LassoCV

# 1. 먼저 모델을 만들어 줍니다.
## TODO

# 2. 모델을 적합시킵니다.
## TODO

# 3. train 세트와 test 세트에서의 성능을 확인합니다. (이 경우 결정계수 R^2)
## TODO